html{
    height: 100%;
}

body{
    height: 100%;

    display: flex;
    flex-direction: column;
}
.header{
    background-color: antiquewhite;
}
.body{
    background-color: blue;
    


    display: flex;
    flex-direction: column;

    height: 100%;
}
.aside{
    background-color: rgb(206, 233, 170);
}
.main{
    background-color: rgb(120, 66, 163);
    flex-grow: 1;
}
.footer{
    background-color: rgb(224, 161, 200);
}



/* ------------------------ */

@media (min-width: 500px)  {
    /* .body{    
        flex-direction: row;
    } */
    .main{
        background-color: brown;
    }
}


@media (min-width: 800px)  {
    .main{
        background-color: rgb(223, 207, 207);
    }
}
